body {
    padding: 20px;
    background-color: #222222;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
    background-color: #fdfeff;
    color: #666666;
    margin: 1px;
}

button,
.button {
    font-size: 13px;
    text-transform: none;
    background-color: #7FC2B4;
    border: none;
}

button:hover,
.button:hover {
    background-color: #6EB9AA;
}

span,
label {
    color: #dddddd;
    font-weight: normal;
}

a {
    color: #dddddd;
}

a:hover {
    color: #999999;
}

ul {
    list-style: none;
}

.container {
    max-width: 1500px;
}

.tab_button {
    margin: 0;
    padding: 10px;
    border-radius: 4px 4px 0 0;
    letter-spacing: .1rem;
    font-weight: 600;
    color: #999999;
    box-sizing: border-box;
    cursor: pointer;
}

.tab_button.selected {
    border-bottom: none;
    color: #dddddd;
    background-color: #37474F;
}

.tab_content {
    border-radius: 4px;
    background-color: #37474F;
    padding: 15px;
}

.tab_content.first {
    border-top-left-radius: 0;
}

.invisible {
    display: none;
}

textarea {
    min-height: 87px;
    min-width: 195px;
}

#ta_target {
    width: 99%;
    height: 300px;
    display: block;
    margin: 0 auto 10px;
}

.child {
    display: inline-block;
    vertical-align: top;
}

#b_deleteAll {
    display: none;
}

.saveChildSet {
    margin: 1px;
}

.saveChildSet button {
    height: 20px;
    padding: 0 15px;
    margin: 1px;
    line-height: 1;
}

.ta_saveChild {
    display: block;
}

#save_area button {
    margin-bottom: 0;
}

#multiReplace textarea {
    width: 200px;
    height: 100px;
    float: left;
}

#multiReplace div {
    float: left;
}

#t_seqOrg {
    width: 100%;
}

#password > label.checkLabel {
    display: inline;
}

#sequence_inputs div {
    float: left;
}

#ta_seqResult {
    width: 100%;
    height: 150px;
}

#cymbal div {
    float: left;
    text-align: center;
}

.ta_cymbal {
    height: 200px;
    display: block;
}

#color textarea {
    width: 200px;
    height: 100px;
    float: left;
}

#color div,
#color ul {
    float: left;
}

#color_list,
#complementary_color_list {
    padding: 10px;
}

#color_list li,
#complementary_color_list li {
    margin: 0;
    padding: 5px;
}

#lgtm > label.checkLabel {
    display: inline;
}

#t_lgtm {
    width: 100%;
}

#auth_info {
    float: right;
}

/* clearfix */
.cf:before, .cf:after {
    content: "";
    display: table
}

.cf:after {
    clear: both
}

/*file_storage*/

#file_storage {
    min-height: 200px;
}

#ta_receiver {
    width: 100%;
}

#firebase_storage_progress {
    width: 100%;
}

.progress {
    position: relative;
    display: inline-block;
    margin: 30px;
    width: 50px;
    height: 50px;
    border: 2px solid #eeeeee;
    border-radius: 50%;

    animation: spin 0.75s infinite linear;
    border-top-width: 0;
}

.progress::before,
.progress::after {
    left: -2px;
    top: -2px;
    display: none;
    position: absolute;
    content: '';
    width: inherit;
    height: inherit;
    border: inherit;
    border-radius: inherit;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#download_files a {
    border-radius: 4px;
    border: solid 1px #666666;
    margin: 1px;
    padding: 5px 10px;
    background-color: #eeeeee;
    color: #666666;
    text-decoration: none;
}

#download_files a:hover {
    background-color: #dddddd;
    color: #333333;
}